<h1 class="display-4">Boban Notes</h1>
<p class="mb-4">Sails.js app for prototyping</p>

<a href="/notes/add" class="btn btn-light">Add Notes</a>
<a href="/notes/list" class="btn btn-light">View Notes</a>