<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/notes/list" >Notes</a></li>
        <li class="breadcrumb-item"><%= notes.title%></li>
    </ol>
    <h1 class="display-4"><%= notes.title%></h1>
    <blockquote class="blockquote-reverse">
            <p><%= notes.body%></p>
    </blockquote>